* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  text-align: center;
}
#inputContainer {
  line-height: 4rem;
  margin-top: 10rem;
  display: none;
  animation-name: none;
  animation-duration: 0.7s;
  color: black;
  /* display:inline-block; */
}
#cardContainer {
  width: 500px;
  height: 800px;
  background-color: rgb(24, 47, 83);
  border-radius: 10%;
  margin-top: 5rem;
  /* display: inline-block; */
  animation-duration: 1.4s;
  display: none;
  animation-name: none;
  color: white;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#mainDay {
  border-radius: 10% 10% 0 0;
  width: 500px;
  height: 400px;
  display: inline-block;
  background-color: yellowgreen;
  text-align: left;
}
